:root {
	--darkestGray: rgb(75, 75, 75);
	--darkGray: #9b968e;
	--lightGray: #d9d4d4;
	--darkBrown: #70644c;
	--mediumBrown: #dcd3c9;
	--lightBrown: #f0ede7;
}

@font-face {
	font-family: 'greekFreak';
	src: url('./assets/fonts/greek-freak-webfont.woff2') format('woff2'),
		url('./assets/fonts/greek-freak-webfont.woff') format('woff');
}

div#root {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

body {
	margin: 0;
}

main {
	height: 100%;
	overflow: auto;
}

img.userImage {
	height: 50px;
	width: 50px;
	border-radius: 50px;
}
