* {
	outline: 1px solid black;
}

div#root {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
}

body {
	margin: 0;
}

main {
	height: 100%;
	overflow: auto;
}

img.userImage {
	height: 50px;
	width: 50px;
	border-radius: 50px;
}
