* {
	outline: 1px solid black;
}

:root {
	--darkestGray: rgb(75, 75, 75);
	--darkGray: #9b968e;
	--lightGray: #d9d4d4;
	--darkBrown: #70644c;
	--mediumBrown: #dcd3c9;
	--lightBrown: #f0ede7;
}

div#root {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
}

body {
	margin: 0;
}

main {
	height: 100%;
	overflow: auto;
}

img.userImage {
	height: 50px;
	width: 50px;
	border-radius: 50px;
}
