.form {
	display: flex;
	flex-direction: column;
}

.input {
	display: flex;
	gap: 5px;

	&& > label {
		display: flex;
	}

	&& > input {
		background-color: var(--lightGray);
	}

	&& > button {
		background-color: var(--darkBrown);
		color: var(--lightBrown);
		border: 0;
		border-radius: 4px;

		&&:hover,
		&&:focus {
			filter: contrast(0.8);
		}
	}
}
