.editUserForm {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;

	&& > textarea {
		resize: none;
		width: 50%;
		font-size: 1.2rem;
	}
}

.previewImage {
	display: flex;
	justify-content: center;

	&& > img {
		border-radius: 100px;
	}

	&& > label {
		align-self: flex-end;
		position: relative;
		right: 25px;
		display: flex;

		&& > img {
			width: 40px;
			height: 40px;
		}
	}
}
