footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: auto;
	background-color: var(--darkGray);
	color: var(--lightBrown);
	padding: 5px;

	&& > p {
		margin: 0;
	}

	&& > p > a {
		text-decoration: none;
		color: var(--lightBrown);

		&&:hover,
		&&:focus {
			filter: contrast(2);
		}
	}
}
