.sidebar {
	grid-area: 1 / 1 / 4 / 2;
	height: 100vh;
	background-color: var(--lightGray);

	&& > ul {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		margin: 0;
		padding: 10px;
		gap: 5px;
		overflow: auto;
		height: calc(100% - 20px);
	}
}

.buttonContainer {
	display: flex;
	justify-content: center;

	&& > button {
		border: 0;
		border-radius: 4px;
		background-color: var(--darkBrown);
		color: var(--lightBrown);
		font-size: 1rem;

		&&:hover,
		&&:focus {
			filter: contrast(0.8);
		}
	}
}
