form.accountForm {
	display: flex;
	flex-direction: column;

	&& > input {
		height: 30px;
		padding-left: 30px;
		font-size: 1.4rem;
	}

	&& > button {
		width: 50%;
		align-self: center;
	}
}

input.username {
	background: url(../../assets/images/username.png) no-repeat 0px center;
}

input.password {
	background: url(../../assets/images/password.png) no-repeat 0px center;
}
