form.accountForm {
	display: flex;
	flex-direction: column;
	gap: 10px;

	&& > input {
		height: 30px;
		padding-left: 30px;
		font-size: 1.4rem;
	}

	&& > button {
		width: 50%;
		align-self: center;
		font-size: 1.1rem;
		background-color: var(--darkBrown);
		color: var(--lightBrown);
		border: 0;
		border-radius: 4px;

		&&:hover,
		&&:focus {
			filter: contrast(0.8);
		}
	}
}

input.username {
	background: url(../../assets/images/username.png) no-repeat 0px center;
}

input.password {
	background: url(../../assets/images/password.png) no-repeat 0px center;
}
